 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
 
    body {
    min-height: 100vh;
      background: linear-gradient(
        to bottom,
        #7B4397 20%,
        #CBAD6D 92%
      );
      display: flex;
      flex-direction: column;
    }

   
    .thanhdieuhuong {
       display: flex;
   
     background: linear-gradient(
        to right,
        #7B4397 20%,
        #CBAD6D 92%
      );
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
     color: white;
    }

    .logo img {
      width: 70px;
      height: auto;
      object-fit: contain;
    }

    .menu {
      display: flex;
      gap: 30px;
      list-style: none;
    }

    .menu li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }

 
   
.btn-group {
  display: flex;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: 0.3s;
 background: linear-gradient(
        to right,
        #7B4397 20%,
        #CBAD6D 92%
      );
  color: black;
}
.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.admin {
      display: flex;
      align-items: center;
      gap: 15px;
      position: relative;
    }

    .admin span {
      font-weight: bold;
    }

    .menu-icon {
      font-size: 24px;
      cursor: pointer;
      user-select: none;
    }

   
    .dropdown {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      background: rgba(0, 0, 0, 0.85);
      border-radius: 10px;
      padding: 10px 0;
      min-width: 200px;
      z-index: 100;
    }

    .dropdown a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 10px 15px;
      font-weight: bold;
    }

    .dropdown a:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    .dropdown.show {
      display: block;
    }
.slogan{
  display:flex;
  background-color: red;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  height: 5vh;color:white;
  font-weight: bold;
  margin-top: 50px;
  font-size: 30px;
  word-spacing: 20px;
  text-shadow: 0 0 10px yellow
}
    .qc {
     width: 100%;
      height: 300px;
      background: #000;
      border-radius: 15px;
      overflow: hidden; margin-top: 50px;
    }
     
    .qc img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }

    .container {
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center;      /* căn giữa dọc */
  height: 50vh;   
  width: 100%;
  margin-top: 150px;
    /* chiếm toàn màn hình */
}

 .container1{
   display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center;      /* căn giữa dọc */
  height: 40vh;   
    margin: 10px;
 }
.box {
  width: 80%;
  height: 100%;
   margin: auto;
    position: relative;
    overflow: hidden;
  border-radius: 15px;
  background-color: coral;
  
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  border-radius: 15px;
}

.box img.active {
  opacity: 1;
}

 .box1 {
   width: 25%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
 }

 .box1 img{
  width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
}

.footer{
  width: 100%;
  height: 15vh;
  display: flex;
    background: linear-gradient(to right, #8e2de2, #ff3c3c);
    margin-top: 30px;
    align-items: center;
   justify-content: space-between;
   padding: 10px 40px;
}

.footer ul li{
  list-style: none;
  color: white;
 font-weight: boil;
}

.sđt{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  height: 30%;
  padding: 10px 50px;
  border-radius: 20px;
   background: linear-gradient(to right,orange, #8e2de2 );
}

.logocongthuong{
  width: 20%;
}

.logocongthuong img{
  height: 100%;
  width: 100%;
}